:root {
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: #662eed;
  --accent-color: #272142;
  --highlight-color: ;
}
body {
  font-family: var(--primary-font);
  color: var(--accent-color);
}
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  margin-top: 30px;
}
h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
  margin-bottom: 40px;
}
h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}
h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin: 20px 0;
}
nav {
  padding: 40px 0;
}
nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-left: 20px;
}

footer {
  background: #f9f7fe;
  color: var(--accent-color);
  margin-top: 40px;
  padding: 40px 0;
}

nav li a {
  color: var(--accent-color);
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.2)
    ),
    url("../images/background.png");
  color: white;

  padding: 40px;
  text-align: center;
}

.hero h5 {
  line-height: 35px;
  margin: 10px 220px 0 220px;
}

.content-container {
  margin-top: 100px;
}

.home-recipe {
  margin: 20px 0;
}

.social-media a {
  padding: 0 15px;
  color: var(--accent-color);
}
.social-media a:hover {
  color: var(--primary-color);
}
.about p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 35px;
}
.about .social-media {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 65px;
}

.favorite-recipes p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.recipe-collection img {
  display: block;
  margin: 0 auto;
}
.recipe-collection h3 {
  margin-top: 42px;
  text-align: left;
}
.recipe {
  margin: 60px 200px;
}

ul.ingredient {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.instructions {
  margin-bottom: 20px;
}
.ingredient li,
.instructions {
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: #67d5d2;
}
.ingredient li {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
}

div.step {
  color: #f65282;
  font-weight: 800;
  font-size: 18px;
}
p.step {
  font-size: 18px;
  font-weight: 400;
}
